*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body,html{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;;
}


a{
    padding: 10px 30px;
    margin: 0px 15px;
    color: #03e9f4;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    transition: .4s;
}
a:hover{
    background-color: #03e9f4;
    color: #000;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    animation: anima1 1s infinite linear;
    background: linear-gradient(90deg,transparent,#03e9f4);
}
@keyframes anima1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

a span:nth-child(2){
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
    animation: anima2 1s infinite linear;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation-delay: .25s;
}
@keyframes anima2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

a span:nth-child(3){
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
    animation: anima3 1s infinite linear;
    background: linear-gradient(-90deg,transparent,#03e9f4);
    animation-delay: .5s;
}
@keyframes anima3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
a span:nth-child(4){
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
    animation: anima4 1s infinite linear;
    background: linear-gradient(-0deg,transparent,#03e9f4);
    animation-delay: .75s;
}
@keyframes anima4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}



a:nth-child(2){
    filter: hue-rotate(290deg);
}