<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/login" method="post">
        <h3>登录</h3>
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="username">
        <label for="">密码</label>
        <input type="password" name="password" placeholder="password">
        <button type="submit">登录</button>
    </form>
    <hr>
    <form action="http://localhost:3000/register" method="post">
        <h3>注册</h3>
        <label for="">用户名</label>
        <input type="text" name="username" placeholder="username" id="">
        <label for="">密码</label>
        <input type="password" name="password" placeholder="password" id="">
        <label for="">确认密码</label>
        <input type="password" name="surepass" placeholder="surepass" id="">
        <button type="submit">注册</button>
    </form>
</body>
</html>